*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.conatainer-header{
    background-color: rgb(15,15,15);
    height: 8em;
    justify-content: center;
    padding-top: 3em;
    
}

.lista-menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.item-right{
    margin-left: auto;
}

.item-left{
    margin-right: auto;
    font-size: 1.8rem;
    margin-left: 10em;
}

.item-left a{
    color: white;
    text-decoration: none;
}

.item{
    margin-right: 1em;
    margin-left: 2.5em;
    font-size: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}


.item-divider::after {
    content: '|'; /* Adicionando a linha de divisão entre os itens */
  
    color: white;
}
